body {
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 15px;
}

#logo h3 {
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    color: rgb(0, 17, 255);
}

#viewbar {
    display: flex;
    justify-content: space-evenly;
}
  